<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javen.firstappl" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".EditTextWithDel" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/edit_text_with_del_info" />
        </receiver>

        <activity
            android:name="com.example.javen.imageview.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.javen.radiobutton.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.javen.togglebtnswitch.ToggleBtnSwitchActivity"
            android:label="@string/title_activity_toggle_btn_switch" >
        </activity>
        <activity
            android:name="com.example.javen.progressbar.ProgressBarActivity"
            android:label="@string/title_activity_progress_bar" >
        </activity>
        <activity
            android:name="com.example.javen.seekBar.SeekBarActivity"
            android:label="@string/title_activity_seek_bar" >
        </activity>
        <activity
            android:name="com.example.javen.dateTimePicker.DateTimePickerActivity"
            android:label="@string/title_activity_date_time_picker" >
        </activity>
        <activity
            android:name="com.example.javen.dateTimePicker.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name="com.example.javen.Adapter.AdapterActivity"
            android:label="@string/title_activity_adapter" >
        </activity>
        <activity
            android:name="com.example.javen.ListView.ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name="com.example.javen.BasicAdapter.BaseAdapterActivity"
            android:label="@string/title_activity_base_adapter" >
        </activity>
        <activity
            android:name="com.example.javen.MultiLayoutListView.MultiLayoutViewActivity"
            android:label="@string/title_activity_multi_layout_view" >
        </activity>
        <activity
            android:name="com.example.javen.GridView.GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
        <activity
            android:name="com.example.javen.Spinner.SpinnerActivity"
            android:label="@string/title_activity_spinner" >
        </activity>
        <activity
            android:name="com.example.javen.AutoComplete.AutoComplActivity"
            android:label="@string/title_activity_auto_compl" >
        </activity>
        <activity
            android:name="com.example.javen.ExpandableListView.ExpandListViewActivity"
            android:label="@string/title_activity_expand_list_view" >
        </activity>
        <activity
            android:name="com.example.javen.ViewFlipper.StaticFlipperActivity"
            android:label="@string/title_activity_static_flipper" >
        </activity>
        <activity
            android:name="com.example.javen.ViewFlipper.DynamicFlipperActivity"
            android:label="@string/title_activity_dynamic_flipper" >
        </activity>
    </application>

</manifest>
